{% extends "base.html" %}

{% block content %}
<h1>Envoi de crédit en masse !</h1>

<p>LKLC est un service d'envoi automatisé de crédit téléphonique ainsi que de mpayment au Mali.</p>

<h2>À quoi sert <em>lakali ci</em> ?</h2>
<p>Si vous souhaitez envoyer du crédit téléphonique à plus de 10 personnes à la fois, le faire à la main (via les systèmes <em>mugan-mugan</em> ou <em>paani</em>) est <strong>très fastidieux</strong>.</p>
<p>Avec LKLC, il vous suffit de renseigner une fois les contacts de ces personnes (via un fichier Excel si la liste est longue) dans le système, de sélectionner le montant à envoyer et presser un bouton. Tout le reste est automatique!</p>
<p>En plus, vous pouvez suivre l'envoi et vérifier que les transferts ont été effectués correctement via les numéros de reçus.</p>

<h2>Et pour le mPayment</h2>
<p>De la même manière, vous pouvez envoyer du crédit <em>Orange Money</em> ou <em>Mobi Cash</em> à vos contacts, avec la même simplicité !</p>

<h2>Convaincu ?</h2>
<p>Pour profiter de LKLC, merci de renseigner votre adresse email ci-dessous, nous vou
{% endblock %}
