{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lakali ci!</title>
	<link rel="stylesheet" href="{% static 'pure.min.css' %}">
	<link rel="stylesheet" href="{% static 'ci.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="pure-g">
  		<div class="pure-u-1-5 sidebar">	    
		    <div class="pure-menu pure-menu-open">
			    {% if user.is_authenticated %}<span class="pure-menu-heading"><i class="fa fa-send"></i> {{ user.organization|default:"ADMIN" }}</span>
			    {% else %}<a class="pure-menu-heading">lakali ci!</a>{% endif %}

			    <ul>
			       	<li class="{% if domain = 'about' %}pure-menu-selected {% endif %}"><a href="{% url 'about' %}"><i class="fa fa-home"></i> Accueil</a></li>
			       	<li class="{% if domain = 'account' %}pure-menu-selected {% endif %}"><a href="{% url 'account' %}"><i class="fa fa-user"></i> Mon Compte <span class="count">({{ account_balance}}F)</span></a></li>
			       	<li class="{% if domain = 'tasks' %}pure-menu-selected {% endif %}"><a href="{% url 'tasks' %}"><i class="fa fa-tasks"></i> Tâches <span class="count">({{ tasks.count }})</span></a></li>
			        <li class="{% if domain = 'contacts' %}pure-menu-selected {% endif %}"><a href="{% url 'contacts' %}"><i class="fa fa-users"></i> Contacts <span class="count">({{ contacts.count }})</span></a></li>
			        <li class="{% if domain = 'groups' %}pure-menu-selected {% endif %}"><a href="{% url 'groups' %}"><i class="fa fa-folder-open-o"></i> Groupes</a></li>
			        {% for group in groups.all %}
			        	<li class="{% if domain = 'groups' %}pure-menu-selected {% endif %}"><a href="{% url 'group' group.slug %}">&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i> {{ group.name }} <span class="count">({{ group.members.count }})</span></a></li>
			        {% endfor %}
			        {% if user.is_authenticated %}<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Déconnection <em>{{ user.name }}</em></a></li>{% endif %}
			    </ul>
			</div>

		    <ul>
		        
		    </ul>
		</div>

  		<div class="pure-u-4-5 content">
  			{% if messages %}
                <div id="notifications" class="">
                {% for message in messages %}
                    <p class="alert alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}<i class="icon-cancel close-notif-button"></i></p>
                {% endfor %}
                </div>
            {% endif %}
		    {% block content %}
			{% endblock %}
  		</div>

  	</div>
    <script src="{% static 'jquery-1.11.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    	{% block onJQstart %}{% endblock %}
    });
    </script>
  </body>
</html>
